
<div class="container">
  <p>Company Info</p>
<ul class="list-inline">
  <li class="form-box">logo</li>
  <li class="form-box">Company name</li>
  <li class="form-box">Company Address</li>
</ul>
<ul class="list-inline">
  <li class="form-box">First Name</li>
  <li class="form-box">Middle Name</li>
  <li class="form-box">Last Name</li>
</ul>
</div>

